.App {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.App-link {
  color: #61dafb;
}


/*Cart widget*/

.btn-cart{
  display: flex;
  flex-direction: row-reverse;
  align-items:center; 
  justify-content: space-between;
}

.text-warning{
  padding: 10px;
}

/*ItemListContainer*/

.sct-bienvenida{
  padding: 50px 0px 50px 0px;
}

.prods--list{
  width: 100%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.itemDetail{
  max-width: 540px;
  margin-top: 20px;
}

.contForm{
  margin-top: 20px;
}

.cartContainer{
  margin-top: 3%;
  
}

.divButtons button{
  margin: 4px;

}

.cardCart{
  max-width: 640px;

}
.cartWidget{
  margin-right: 40px;
  color: white;
}

.cantCarrito{
  position: relative;
  left: 15%;
}